{% load static %}
<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Results</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

              <link rel="stylesheet" href="{% static 'styles_sub.css' %}" type="text/css" />
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
          <form method="POST" action="create_sub/" >
            <div class="e5_2">
                <a class="a" download ="products.csv" href="http://127.0.0.1:8000/create_sub/create_products/products.csv/">Скачать</a>
                <div class="e5_4"></div>
                <span class="e13_28">Результаты:</span>
                <div class="e13_33"></div>
                <select class="e13_34" name="filter">
                    <option value="none" hidden="">Фильтр</option>
                     <option value="filter1"  >До 15000 рублей</option>
                    <option value="filter2">От 15000 до 55000 рублей</option>
                    <option value="filter4">Более 55000 рублей</option>
                </select>
                <select class="e14_0" name="sort">
                    <option value="none2" hidden="">Сортировка</option>
                    <option value="sort1" >По убыванию</option>
                    <option value="sort2">По возрастанию</option>
                </select>

  </div>

            <div class="new_div">
                <img  class="image" src="https://cdn.kns.ru/linkpics/acer-extensa-15-ex215-22-r21j-0-v1.jpg">
                <span class="name">Наименование</span>
                 <div class="article">Артикул</div>
                <div class="description">Описание</div>
                <a class="space"></a>
                <div class="charact">Характеристики</div>
                <div class="url">URL</div>
                <div class="price">Цена</div>
</div>
<div class="border"></div>
          </form>
          </body></html>