{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


            <title>Computer Parts Finder</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">


            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          <script>
function Checkfirst(obj)
{
if (obj == 'true') { document.all.selectsub.disabled = true}
else { document.all.selectsub.disabled = false};
}
function Checksecond(obj)
{
if (obj == 'true') { document.all.btn.disabled = true}
else { document.all.btn.disabled = false};
}
</script>


      <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" />
          </head>

          <body>

    <form method="POST" action="create_sub/" name = "f1">
            <div id="e1_2">
                <span id="e1_7">Computer Parts Finder</span>
                <span id="e1_8">source URLs: www.kns.ru, www.xpert.ru, computermarket.ru</span>
                <span id="e1_6">Выберите основную категорию</span>
                 {% csrf_token %}
                <select id="e17_2" name="selectmain" onchange="Checkfirst(this.value)">
 <option>KNS_Ноутбуки</option>
 </select>

               
                <button id="e2_5" name="btn" >Перейти к выбору подкатегории</button>
                <span id="e2_8">For ТРКПО5</span>
                <div id="e18_5"></div>
                <div id="e18_4"></div>
            </div>
