{% load static %}
<html lang="en">
          <head>
            <meta charset="utf-8">

            <title>Results</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

              <link rel="stylesheet" href="{% static 'styles_sub.css' %}" type="text/css" />
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
<script language="JavaScript" type="text/javascript">
<!--
function linklist(what){
var selectedopt=what.options[what.selectedIndex]
if (document.getElementById && selectedopt.getAttribute("target")=="new")
window.open(selectedopt.value)
else
window.location=selectedopt.value
}
-->
</script>
          </head>

          <body>
          <form method="POST" action="create_sub/" >
            <div class="e5_2">
                <a class="a" download ="products.csv" href="http://127.0.0.1:8000/create_sub/create_products/products.csv/">Скачать</a>
                <div class="e5_4"></div>
                <span class="e13_28">Результаты:</span>
                <div class="e13_33"></div>
                <select class="e13_34" name="filter" onchange="document.location=this.options[this.selectedIndex].value">
                    <option value="none" hidden="">Фильтр</option>
                     <option value="http://127.0.0.1:8000/create_sub/create_products/product_page_end_filter_15000.html/"  >До 15000 рублей</option>
                    <option value="http://127.0.0.1:8000/create_sub/create_products/product_page_end_filter_55000.html/">От 15000 до 55000 рублей</option>
                    <option value="http://127.0.0.1:8000/create_sub/create_products/product_page_end_filter_56000.html/">Более 55000 рублей</option>
                </select>
                <select class="e14_0" name="sort" onchange="document.location=this.options[this.selectedIndex].value">
                    <option value="none2" hidden="">Сортировка</option>
                    <option value="http://127.0.0.1:8000/create_sub/create_products/product_page_sorted_descending.html/" >По убыванию</option>
                    <option  value="http://127.0.0.1:8000/create_sub/create_products/product_page_sorted_ascending.html/">По возрастанию</option>
                </select>


  </div>



 <div class="new_div"> <div class="article">ID: 209395</div>
    <div class="price">Цена: 3270 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-power-2000-ss--ps-p20c6-r01--0.jpg">
  <div class="name">Наименование: Компьютер Acer Power 2000 PS.P20C0.R01</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Celeron D352 Тактовая частота CPU 3.2 ГГц Объём 512 Мб Объем диска HDD 80 Гб Графический чипсет Intel GMA HD 3000 Объем видеопамяти до 256 Мб оперативной памяти Операционная система Linux</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-power-2000-ps-p20c0-r01/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 200288</div>
    <div class="price">Цена: 3430 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-6800--ps-680e0-r36-r--1.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton 6800 PS.680E0.R36</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Pentium D 915 Тактовая частота CPU 2.8 ГГц Объём 512 Мб Объем диска HDD 80 Гб Графический чипсет Intel GMA 950 Объем видеопамяти до 128 Мб оперативной памяти Операционная система Linux</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-6800-ps-680e0-r36/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 351530</div>
    <div class="price">Цена: 5160 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-6800-2gb-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton 6800+2gb</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Pentium D 915 Тактовая частота CPU 2.8 ГГц Объём 4096 Мб Объем диска HDD 80 Гб Графический чипсет Intel GMA Объем видеопамяти использует системную Операционная система Linux</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-6800-2gb/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 431152</div>
    <div class="price">Цена: 8000 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n2620g--dt-vh2er-010--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N2620G DT.VH2ER.010</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Celeron 887 Тактовая частота CPU 1.5 ГГц Количество ядер процессора 2 ядра Объём 2048 Мб Объем диска HDD нет Объем диска SSD 16 Гб Графический чипсет Intel HD Graphics Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n2620g-dt-vh2er-010/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 337053</div>
    <div class="price">Цена: 8200 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n281g--ps-vbge9-031--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N281G PS.VBGE9.015</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Atom N425 Тактовая частота CPU 1.6 ГГц Объём 1024 Мб Объем диска HDD 160 Гб Графический чипсет Intel GMA X3150 Объем видеопамяти до 256 Мб оперативной памяти Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n281g-ps-vbge9-015/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 332715</div>
    <div class="price">Цена: 8388 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n281g--ps-vbge9-031--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N281G PS.VBGE9.002</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Atom N425 Тактовая частота CPU 1.6 ГГц Объём 1024 Мб Объем диска HDD 160 Гб Графический чипсет Intel GMA X3150 Объем видеопамяти до 256 Мб оперативной памяти Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n281g-ps-vbge9-002/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 389375</div>
    <div class="price">Цена: 9787 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-xc600--dt-sljer-001--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire XC600 DT.SLJER.001</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Celeron Dual-Core G550 Тактовая частота CPU 2.6 ГГц Объём 2048 Мб Объем диска HDD 500 Гб Графический чипсет Intel GMA Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-xc600-dt-sljer-001/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 389375</div>
    <div class="price">Цена: 9787 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-xc600--dt-sljer-001--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire XC600 DT.SLJER.001</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Celeron Dual-Core G550 Тактовая частота CPU 2.6 ГГц Объём 2048 Мб Объем диска HDD 500 Гб Графический чипсет Intel GMA Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-xc600-dt-sljer-001/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 346880</div>
    <div class="price">Цена: 10426 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n282g--ps-vbhe3-102--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N282G PS.VBHE9.017</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Atom D525 Тактовая частота CPU 1.8 ГГц Объём 2048 Мб Объем диска HDD 320 Гб Графический чипсет nVidia ION 2 (G218) Объем видеопамяти 512 Мб Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n282g-ps-vbhe9-017/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 346880</div>
    <div class="price">Цена: 10426 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n282g--ps-vbhe3-102--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N282G PS.VBHE9.017</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Atom D525 Тактовая частота CPU 1.8 ГГц Объём 2048 Мб Объем диска HDD 320 Гб Графический чипсет nVidia ION 2 (G218) Объем видеопамяти 512 Мб Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n282g-ps-vbhe9-017/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 390929</div>
    <div class="price">Цена: 10491 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-xc100--dt-slrer-002--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire XC100 DT.SLRER.002</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU AMD E2 1200 Тактовая частота CPU 1.4 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет ATI Radeon HD7310D Объем видеопамяти 2048 Мб Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-xc100-dt-slrer-002/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 394486</div>
    <div class="price">Цена: 10676 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m1470--dt-sm0er-003--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M1470 DT.SM0ER.003</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU AMD E2-3200 Тактовая частота CPU 2.4 ГГц Объём 2048 Мб Объем диска HDD 500 Гб Графический чипсет AMD Radeon HD Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m1470-dt-sm0er-003/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 394486</div>
    <div class="price">Цена: 10676 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m1470--dt-sm0er-003--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M1470 DT.SM0ER.003</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU AMD E2-3200 Тактовая частота CPU 2.4 ГГц Объём 2048 Мб Объем диска HDD 500 Гб Графический чипсет AMD Radeon HD Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m1470-dt-sm0er-003/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 394486</div>
    <div class="price">Цена: 10676 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m1470--dt-sm0er-003--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M1470 DT.SM0ER.003</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU AMD E2-3200 Тактовая частота CPU 2.4 ГГц Объём 2048 Мб Объем диска HDD 500 Гб Графический чипсет AMD Radeon HD Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m1470-dt-sm0er-003/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 324280</div>
    <div class="price">Цена: 11095 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-revo-r3610--pt-scxe2-051--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire Revo R3610 PT.SCXEC.013</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Atom N330 Тактовая частота CPU 1.6 ГГц Объём 2048 Мб Объем диска HDD 250 Гб Графический чипсет nVidia ION Объем видеопамяти 12288 Мб Операционная система Linux</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-revo-r3610-pt-scxec-013/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 324280</div>
    <div class="price">Цена: 11095 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-revo-r3610--pt-scxe2-051--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire Revo R3610 PT.SCXEC.013</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Atom N330 Тактовая частота CPU 1.6 ГГц Объём 2048 Мб Объем диска HDD 250 Гб Графический чипсет nVidia ION Объем видеопамяти 12288 Мб Операционная система Linux</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-revo-r3610-pt-scxec-013/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 334901</div>
    <div class="price">Цена: 11426 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-revo-r3700--pt-seme2-062--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire Revo R3700 PT.SEMEC.005</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Atom D525 Тактовая частота CPU 1.8 ГГц Объём 1024 Мб Объем диска HDD 500 Гб Графический чипсет nVidia ION 2 (G218) Объем видеопамяти 512 Мб Операционная система Linux</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-revo-r3700-pt-semec-005/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 328076</div>
    <div class="price">Цена: 11428 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-emachines-er1401--pt-nbze2-004--0.jpg">
  <div class="name">Наименование: Компьютер Acer eMachines ER1401 PT.NBZE2.001</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Athlon II Neo Dual-Core K325 Тактовая частота CPU 1.3 ГГц Объём 2048 Мб Объем диска HDD 160 Гб Графический чипсет nVidia GeForce 9200 Операционная система Microsoft Windows 7 Home Premium</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-emachines-er1401-pt-nbze2-001/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 590033</div>
    <div class="price">Цена: 12004 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n2510g-dt-vnrer-071-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N2510G DT.VNRER.071</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Celeron J3060 Тактовая частота CPU 1.6 ГГц Количество ядер процессора 2 ядра Объём 4096 Мб Объем диска SSD 32 Гб Графический чипсет Intel HD Graphics 400 Объем видеопамяти использует системную Операционная система Endless</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n2510g-dt-vnrer-071/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 590033</div>
    <div class="price">Цена: 12004 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n2510g-dt-vnrer-071-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N2510G DT.VNRER.071</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Celeron J3060 Тактовая частота CPU 1.6 ГГц Количество ядер процессора 2 ядра Объём 4096 Мб Объем диска SSD 32 Гб Графический чипсет Intel HD Graphics 400 Объем видеопамяти использует системную Операционная система Endless</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n2510g-dt-vnrer-071/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 283450</div>
    <div class="price">Цена: 12268 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-e360--91-9n97e-r8s--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire E360 91.9N97E.R8S</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU AMD Athlon 64 3400+ Тактовая частота CPU 2.2 Ггц Объём 512 Мб Объем диска HDD 80 Гб Графический чипсет NVidia GeForce 7300 LE Объем видеопамяти 256 Мб Операционная система Microsoft Windows XP Media Center Edition</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-e360-91-9n97e-r8s/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 334905</div>
    <div class="price">Цена: 12659 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-emachines-et1352--pt-nc8e9-005--0.jpg">
  <div class="name">Наименование: Компьютер Acer eMachines ET1352 PT.NC8E8.001</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Athlon II X2 220 Тактовая частота CPU 2.8 ГГц Объём 2048 Мб Объем диска HDD 160 Гб Графический чипсет Intel GMA Объем видеопамяти 256 Мб Операционная система Microsoft Windows 7 Starter</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-emachines-et1352-pt-nc8e8-001/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 323547</div>
    <div class="price">Цена: 12800 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-revo-r3610--pt-scxe2-051--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire Revo R3610 PT.SCX01.003</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Atom N330 Тактовая частота CPU 1.6 ГГц Объём 2048 Мб Объем диска HDD 160 Гб Графический чипсет nVidia GeForce 9400 Объем видеопамяти до 384 Мб в зависимости от объёма оперативной памяти Операционная система Microsoft Windows 7 Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-revo-r3610-pt-scx01-003/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 384903</div>
    <div class="price">Цена: 13333 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m1935--dt-sjrer-028--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M1935 DT.SJRER.028</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Pentium G645 Тактовая частота CPU 2.9 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет Intel HD Graphics Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m1935-dt-sjrer-028/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 384903</div>
    <div class="price">Цена: 13333 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m1935--dt-sjrer-028--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M1935 DT.SJRER.028</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Pentium G645 Тактовая частота CPU 2.9 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет Intel HD Graphics Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m1935-dt-sjrer-028/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 595470</div>
    <div class="price">Цена: 13619 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-ex2620g-dt-vrver-008-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton EX2620G DT.VRVER.008</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Celeron J4005 Тактовая частота CPU 2 ГГц Количество ядер процессора 2 ядра Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет Intel UHD 600 Объем видеопамяти использует системную Операционная система Endless</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-ex2620g-dt-vrver-008/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 543540</div>
    <div class="price">Цена: 13741 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n2510g-dt-vnrer-025-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N2510G DT.VNRER.025</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Celeron N3050 Тактовая частота CPU 1.6 ГГц Количество ядер процессора 2 ядра Объём нет Объем диска HDD нет Графический чипсет Intel HD Graphics Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n2510g-dt-vnrer-025/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 543540</div>
    <div class="price">Цена: 13741 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n2510g-dt-vnrer-025-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N2510G DT.VNRER.025</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Celeron N3050 Тактовая частота CPU 1.6 ГГц Количество ядер процессора 2 ядра Объём нет Объем диска HDD нет Графический чипсет Intel HD Graphics Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n2510g-dt-vnrer-025/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 382023</div>
    <div class="price">Цена: 13802 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m1470--dt-shjer-018--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M1470 DT.SHJER.018</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU AMD E2-3200 Тактовая частота CPU 2.4 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет ATI Radeon HD 7470 Объем видеопамяти 2048 Мб Операционная система Microsoft Windows 7 Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m1470-dt-shjer-018/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 406567</div>
    <div class="price">Цена: 14550 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n4620g--dt-vfher-003--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N4620G DT.VFHER.003</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i3 2377M Тактовая частота CPU 1.5 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет Intel GMA Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n4620g-dt-vfher-003/  </div>
</div> <div class="border"></div>
</div>
<div class="border"></div>
          </form>
          </body></html>