{% load static %}
<html lang="en">
          <head>
            <meta charset="utf-8">

            <title>Results</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

              <link rel="stylesheet" href="{% static 'styles_sub.css' %}" type="text/css" />
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
<script language="JavaScript" type="text/javascript">
<!--
function linklist(what){
var selectedopt=what.options[what.selectedIndex]
if (document.getElementById && selectedopt.getAttribute("target")=="new")
window.open(selectedopt.value)
else
window.location=selectedopt.value
}
-->
</script>
          </head>

          <body>
          <form method="POST" action="create_sub/" >
            <div class="e5_2">
                <a class="a" download ="products.csv" href="http://127.0.0.1:8000/create_sub/create_products/products.csv/">Скачать</a>
                <div class="e5_4"></div>
                <span class="e13_28">Результаты:</span>
                <div class="e13_33"></div>
                <select class="e13_34" name="filter" onchange="document.location=this.options[this.selectedIndex].value">
                    <option value="none" hidden="">Фильтр</option>
                     <option value="http://127.0.0.1:8000/create_sub/create_products/product_page_end_filter_15000.html/"  >До 15000 рублей</option>
                    <option value="http://127.0.0.1:8000/create_sub/create_products/product_page_end_filter_55000.html/">От 15000 до 55000 рублей</option>
                    <option value="http://127.0.0.1:8000/create_sub/create_products/product_page_end_filter_56000.html/">Более 55000 рублей</option>
                </select>
                <select class="e14_0" name="sort" onchange="document.location=this.options[this.selectedIndex].value">
                    <option value="none2" hidden="">Сортировка</option>
                    <option value="http://127.0.0.1:8000/create_sub/create_products/product_page_sorted_descending.html/" >По убыванию</option>
                    <option  value="http://127.0.0.1:8000/create_sub/create_products/product_page_sorted_ascending.html/">По возрастанию</option>
                </select>


  </div>



 <div class="new_div"> <div class="article">ID: 362042</div>
    <div class="price">Цена: 55590 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-m68ws-ps-vbee3-081-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton M68WS PS.VBEE3.081</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 870 Тактовая частота CPU 2.93 ГГц Объём 16384 Мб Объем диска HDD 1500 Гб Графический чипсет NVidia Quadro FX 1800 Объем видеопамяти 768 Мб Операционная система Microsoft Windows 7 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-m68ws-ps-vbee3-081/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 545173</div>
    <div class="price">Цена: 55977 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-x2640g-dt-vn5er-081-2.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton X2640G DT.VN5ER.081</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 6700 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 8192 Мб Объем диска HDD 1000 Гб Графический чипсет Radeon R7 430 Объем видеопамяти 2048 Мб Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-x2640g-dt-vn5er-081/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 629909</div>
    <div class="price">Цена: 56020 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n4660g-dt-vrder-1al-0-v1.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N4660G DT.VRDER.1AL</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 9700 Тактовая частота CPU 3.0 ГГц Количество ядер процессора 8 ядер Объём 8192 Мб Объем диска SSD 512 Гб Графический чипсет Intel UHD 630 Объем видеопамяти использует системную Операционная система Endless</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n4660g-dt-vrder-1al/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 327391</div>
    <div class="price">Цена: 56160 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m3910--pt-sdxe1-035--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M3910 PT.SDXE1.002</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i3 530 Тактовая частота CPU 2.93 ГГц Объём 3072 Мб Объем диска HDD 320 Гб Графический чипсет nVidia GeForce GT320 Объем видеопамяти 1024 Мб Операционная система Microsoft Windows 7 Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m3910-pt-sdxe1-002/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 314494</div>
    <div class="price">Цена: 56371 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-x3300--pt-sbxe1-004--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire X3810 98.OSF7Y.R7B</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core 2 Quad Q8300 Тактовая частота CPU 2.33 ГГц Объём 4096 Мб Объем диска HDD 320 Гб Графический чипсет nVidia GeForce G210 Объем видеопамяти 512 Мб Операционная система Microsoft Windows Vista Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-x3810-98-osf7y-r7b/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 314494</div>
    <div class="price">Цена: 56371 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-x3300--pt-sbxe1-004--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire X3810 98.OSF7Y.R7B</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core 2 Quad Q8300 Тактовая частота CPU 2.33 ГГц Объём 4096 Мб Объем диска HDD 320 Гб Графический чипсет nVidia GeForce G210 Объем видеопамяти 512 Мб Операционная система Microsoft Windows Vista Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-x3810-98-osf7y-r7b/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 528809</div>
    <div class="price">Цена: 56556 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-x2640g-dt-vmxer-033-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton X2640G DT.VMXER.033</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 6700 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 8192 Мб Объем диска HDD 1000 Гб Графический чипсет Radeon R7 340 Объем видеопамяти 2048 Мб Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-x2640g-dt-vmxer-033/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 528809</div>
    <div class="price">Цена: 56556 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-x2640g-dt-vmxer-033-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton X2640G DT.VMXER.033</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 6700 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 8192 Мб Объем диска HDD 1000 Гб Графический чипсет Radeon R7 340 Объем видеопамяти 2048 Мб Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-x2640g-dt-vmxer-033/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 383919</div>
    <div class="price">Цена: 57143 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-e360--91-9u974-rfs--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire E360 91.9U974.RFS</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Общая информация Производитель Acer Процессор Модель CPU AMD Athlon 3800+ Тактовая частота CPU 2.2 Ггц Оперативная память Объём 512 Мб Жесткий диск Объем диска HDD 160 Гб Видеосистема Графический чипсет ATI Radeon X1650 SE Объем видеопамяти 512 Мб Внешняя встроенная Оптический привод Тип DVD RW Super Multi Коммуникации LAN (сеть) есть Операционная система Операционная система Microsoft Windows XP Габариты (нетто) Размеры (ШxВxГ) 18x36x42 см</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-e360-91-9u974-rfs/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 383919</div>
    <div class="price">Цена: 57143 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-e360--91-9u974-rfs--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire E360 91.9U974.RFS</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Общая информация Производитель Acer Процессор Модель CPU AMD Athlon 3800+ Тактовая частота CPU 2.2 Ггц Оперативная память Объём 512 Мб Жесткий диск Объем диска HDD 160 Гб Видеосистема Графический чипсет ATI Radeon X1650 SE Объем видеопамяти 512 Мб Внешняя встроенная Оптический привод Тип DVD RW Super Multi Коммуникации LAN (сеть) есть Операционная система Операционная система Microsoft Windows XP Габариты (нетто) Размеры (ШxВxГ) 18x36x42 см</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-e360-91-9u974-rfs/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 430128</div>
    <div class="price">Цена: 57564 </div>
        <img  class="image" src="https://cdn.kns.ru">
  <div class="name">Наименование: Компьютер Acer Veriton M2611G DT.VGXER.005</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 3770 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 8192 Мб Объем диска HDD 1000 Гб Графический чипсет Intel HD Graphics 4000 Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-m2611g-dt-vgxer-005/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 430128</div>
    <div class="price">Цена: 57564 </div>
        <img  class="image" src="https://cdn.kns.ru">
  <div class="name">Наименование: Компьютер Acer Veriton M2611G DT.VGXER.005</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 3770 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 8192 Мб Объем диска HDD 1000 Гб Графический чипсет Intel HD Graphics 4000 Объем видеопамяти использует системную Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-m2611g-dt-vgxer-005/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 427713</div>
    <div class="price">Цена: 58266 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-tc603--dt-spzer-035--2.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire TC603 DT.SPZER.035</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 4430 Тактовая частота CPU 3.0 ГГц Количество ядер процессора 4 ядра Объём 4096 Мб Объем диска HDD 1000 Гб Графический чипсет nVidia GeForce GT625 Объем видеопамяти 2048 Мб Операционная система Microsoft Windows 8</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-tc603-dt-spzer-035/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 347133</div>
    <div class="price">Цена: 58477 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-x490g--ps-vave3-289--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton X490G PS.VAVE3.289</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 650 Тактовая частота CPU 3.2 ГГц Объём 4096 Мб Объем диска HDD 320 Гб Графический чипсет nVidia GeForce GT320 Объем видеопамяти 1024 Мб Операционная система Microsoft Windows 7 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-x490g-ps-vave3-289/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 418295</div>
    <div class="price">Цена: 58547 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-s4620g--dt-vj2er-003--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton S4620G DT.VJ2ER.003</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 3470 Тактовая частота CPU 3.2 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет ATI Radeon HD 7470 Объем видеопамяти 2048 Мб Операционная система Microsoft Windows 8 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-s4620g-dt-vj2er-003/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 378211</div>
    <div class="price">Цена: 58898 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-m2610g--dt-vdker-022--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton M2610G DT.VDKER.022</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 2320 Тактовая частота CPU 3.0 ГГц Объём 4096 Мб Объем диска HDD 1000 Гб Графический чипсет nVidia GeForce GT520 Объем видеопамяти 1024 Мб Операционная система Microsoft Windows 7 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-m2610g-dt-vdker-022/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 630035</div>
    <div class="price">Цена: 58968 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-n4660g-dt-vrder-1cx-0-v1.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton N4660G DT.VRDER.1CX</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 9500 Тактовая частота CPU 3.0 ГГц Количество ядер процессора 6 ядер Объём 8192 Мб Объем диска SSD 256 Гб Графический чипсет Intel UHD 630 Объем видеопамяти использует системную Операционная система Microsoft Windows 10 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-n4660g-dt-vrder-1cx/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 318586</div>
    <div class="price">Цена: 60863 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m5810-91-mhm75-rcn-0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M5810 91.MHM75.RCN</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i3 530 Тактовая частота CPU 2.93 ГГц Объём 3072 Мб Объем диска HDD 640 Гб Графический чипсет nVidia GTS230 Объем видеопамяти 2048 Мб Операционная система Microsoft Windows 7 Home Premium</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m5810-91-mhm75-rcn/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 450886</div>
    <div class="price">Цена: 61074 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-m4630g--dt-vjeer-015--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton M4630G DT.VJEER.015</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 4440 Тактовая частота CPU 3.1 ГГц Количество ядер процессора 4 ядра Объём 4096 Мб Объем диска HDD 1000 Гб Графический чипсет NVidia Quadro К600 Объем видеопамяти 1024 Мб Операционная система Windows 8 Professional + Windows 7 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-m4630g-dt-vjeer-015/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 595513</div>
    <div class="price">Цена: 61425 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-s2660g-dt-vqxer-044-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton S2660G DT.VQXER.044</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 8700 Тактовая частота CPU 3.2 ГГц Количество ядер процессора 6 ядер Объём 8192 Мб Объем диска HDD 1000 Гб Графический чипсет Intel UHD 630 Объем видеопамяти использует системную Операционная система Microsoft Windows 10 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-s2660g-dt-vqxer-044/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 602389</div>
    <div class="price">Цена: 61495 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-s2660g-dt-vqxer-043-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton S2660G DT.VQXER.043</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 8700 Тактовая частота CPU 3.2 ГГц Количество ядер процессора 6 ядер Объём 8192 Мб Объем диска SSD 256 Гб Графический чипсет Intel UHD 630 Объем видеопамяти использует системную Операционная система Microsoft Windows 10 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-s2660g-dt-vqxer-043/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 602389</div>
    <div class="price">Цена: 61495 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-s2660g-dt-vqxer-043-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton S2660G DT.VQXER.043</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 8700 Тактовая частота CPU 3.2 ГГц Количество ядер процессора 6 ядер Объём 8192 Мб Объем диска SSD 256 Гб Графический чипсет Intel UHD 630 Объем видеопамяти использует системную Операционная система Microsoft Windows 10 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-s2660g-dt-vqxer-043/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 328074</div>
    <div class="price">Цена: 61776 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-x3990--pt-sgke1-024--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire X3950 PT.SE6E1.003</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 650 Тактовая частота CPU 3.2 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет nVidia GeForce GT320 Объем видеопамяти 1024 Мб Операционная система Microsoft Windows 7 Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-x3950-pt-se6e1-003/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 396935</div>
    <div class="price">Цена: 61846 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-x2611g--dt-vf6er-012--0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton X2611G DT.VF6ER.012</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 3570 Тактовая частота CPU 3.4 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет ATI Radeon HD 7350 Объем видеопамяти 1024 Мб Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-x2611g-dt-vf6er-012/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 321965</div>
    <div class="price">Цена: 61846 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-x3812-98-hsf7r-r7y-0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire X3900 98.9HF7M.RYN</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i3 530 Тактовая частота CPU 2.93 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет nVidia GeForce GT320 Объем видеопамяти 1024 Мб Операционная система Microsoft Windows 7 Home Premium</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-x3900-98-9hf7m-ryn/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 321965</div>
    <div class="price">Цена: 61846 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-x3812-98-hsf7r-r7y-0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire X3900 98.9HF7M.RYN</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i3 530 Тактовая частота CPU 2.93 ГГц Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет nVidia GeForce GT320 Объем видеопамяти 1024 Мб Операционная система Microsoft Windows 7 Home Premium</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-x3900-98-9hf7m-ryn/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 327390</div>
    <div class="price">Цена: 62338 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m3400--pt-sf7e2-028--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M3400 PT.SE0E1.006</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU AMD Phenom II X6 1035T Тактовая частота CPU 2.6 ГГц Объём 3072 Мб Объем диска HDD 320 Гб Графический чипсет nVidia GeForce GT330 Объем видеопамяти 2048 Мб Операционная система Microsoft Windows 7 Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m3400-pt-se0e1-006/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 529037</div>
    <div class="price">Цена: 64873 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-m4640g-dt-vn0er-106-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton M4640G DT.VN0ER.106</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 6700 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 16384 Мб Объем диска HDD 500 Гб Объем диска SSD 128 Гб Графический чипсет Intel HD Graphics Объем видеопамяти использует системную Операционная система Windows 7 Pro + Windows 10 Pro</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-m4640g-dt-vn0er-106/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 529037</div>
    <div class="price">Цена: 64873 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-m4640g-dt-vn0er-106-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton M4640G DT.VN0ER.106</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 6700 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 16384 Мб Объем диска HDD 500 Гб Объем диска SSD 128 Гб Графический чипсет Intel HD Graphics Объем видеопамяти использует системную Операционная система Windows 7 Pro + Windows 10 Pro</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-m4640g-dt-vn0er-106/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 533763</div>
    <div class="price">Цена: 65886 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-x4640g-dt-vmwer-032-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton X4640G DT.VMWER.032</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 6700 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 16384 Мб Объем диска HDD 1000 Гб Графический чипсет Intel HD Graphics 530 Объем видеопамяти использует системную Операционная система Microsoft Windows 10 Pro + Microsoft Windows 7 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-x4640g-dt-vmwer-032/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 533763</div>
    <div class="price">Цена: 65886 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-x4640g-dt-vmwer-032-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton X4640G DT.VMWER.032</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 6700 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 16384 Мб Объем диска HDD 1000 Гб Графический чипсет Intel HD Graphics 530 Объем видеопамяти использует системную Операционная система Microsoft Windows 10 Pro + Microsoft Windows 7 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-x4640g-dt-vmwer-032/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 533763</div>
    <div class="price">Цена: 65886 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-x4640g-dt-vmwer-032-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton X4640G DT.VMWER.032</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 6700 Тактовая частота CPU 3.4 ГГц Количество ядер процессора 4 ядра Объём 16384 Мб Объем диска HDD 1000 Гб Графический чипсет Intel HD Graphics 530 Объем видеопамяти использует системную Операционная система Microsoft Windows 10 Pro + Microsoft Windows 7 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-x4640g-dt-vmwer-032/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 325479</div>
    <div class="price">Цена: 65918 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/kompyuteri-aspire-m5811-0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M5300 PT.SBUE2.009</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU AMD Phenom II X4 925 Тактовая частота CPU 2.8 ГГц Объём 6144 Мб Объем диска HDD 1000 Гб Графический чипсет nVidia GeForce GT340 Объем видеопамяти 1024 Мб Операционная система Microsoft Windows 7 Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m5300-pt-sbue2-009/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 327392</div>
    <div class="price">Цена: 66269 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m5910--pt-sdwe1-022--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M5400 PT.SE1E1.002</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU AMD Phenom II X6 1035T Тактовая частота CPU 2.6 ГГц Объём 3072 Мб Объем диска HDD 500 Гб Графический чипсет ATI Radeon HD 5750 Объем видеопамяти 1024 Мб Операционная система Microsoft Windows 7 Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m5400-pt-se1e1-002/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 598667</div>
    <div class="price">Цена: 68866 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-m6660g-dt-vquer-152-0.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton M6660G DT.VQUER.152</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 8700 Тактовая частота CPU 3.2 ГГц Количество ядер процессора 6 ядер Объём 8192 Мб Объем диска SSD 256 Гб Графический чипсет Intel UHD 630 Объем видеопамяти использует системную Операционная система Microsoft Windows 10 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-m6660g-dt-vquer-152/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 344094</div>
    <div class="price">Цена: 69007 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m3920--pt-sfte1-001--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M3920 PT.SFDE1.003</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 2300 Тактовая частота CPU 2.8 ГГц Объём 2048 Мб Объем диска HDD 500 Гб Графический чипсет nVidia GeForce GT420 Объем видеопамяти 2048 Мб Операционная система Microsoft Windows 7 Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m3920-pt-sfde1-003/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 427499</div>
    <div class="price">Цена: 69287 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-veriton-x2611g--dt-vj5er-004--2.jpg">
  <div class="name">Наименование: Компьютер Acer Veriton X2611G DT.VJ5ER.004</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Pentium G2030 Тактовая частота CPU 3.0 ГГц Количество ядер процессора 2 ядра Объём 4096 Мб Объем диска HDD 500 Гб Графический чипсет Intel HD Graphics Объем видеопамяти 2048 Мб Операционная система Microsoft Windows 7 Professional</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-veriton-x2611g-dt-vj5er-004/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 334900</div>
    <div class="price">Цена: 81221 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-aspire-m5910--pt-sdwe1-022--0.jpg">
  <div class="name">Наименование: Компьютер Acer Aspire M5910 PT.SDWE1.005</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 650 Тактовая частота CPU 3.2 ГГц Объём 6144 Мб Объем диска HDD 500 Гб Графический чипсет ATI Radeon HD 5850 Объем видеопамяти 1024 Мб Операционная система Microsoft Windows 7 Home Basic</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-aspire-m5910-pt-sdwe1-005/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 584599</div>
    <div class="price">Цена: 81713 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-nitro-n50-600-dg-e0mer-007-0.jpg">
  <div class="name">Наименование: Компьютер Acer Nitro N50-600 DG.E0MER.007</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 8400 Тактовая частота CPU 2.8 ГГц Количество ядер процессора 6 ядер Объём 8192 Мб Объем диска HDD 1000 Гб Графический чипсет NVidia GeForce GTX1060 Объем видеопамяти 6144 Мб Операционная система Linux</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-nitro-n50-600-dg-e0mer-007/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 584599</div>
    <div class="price">Цена: 81713 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-nitro-n50-600-dg-e0mer-007-0.jpg">
  <div class="name">Наименование: Компьютер Acer Nitro N50-600 DG.E0MER.007</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 8400 Тактовая частота CPU 2.8 ГГц Количество ядер процессора 6 ядер Объём 8192 Мб Объем диска HDD 1000 Гб Графический чипсет NVidia GeForce GTX1060 Объем видеопамяти 6144 Мб Операционная система Linux</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-nitro-n50-600-dg-e0mer-007/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 585793</div>
    <div class="price">Цена: 169112 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-predator-po5-610-dg-e0ser-007-0.jpg">
  <div class="name">Наименование: Компьютер Acer Predator PO5-610 DG.E0SER.007</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i5 8600K Тактовая частота CPU 3.6 ГГц Количество ядер процессора 6 ядер Объём 32768 Мб Объем диска HDD 3000 Гб Объем диска SSD 256 Гб Графический чипсет NVidia GeForce RTX 2080 Объем видеопамяти 8192 Мб Операционная система DOS</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-predator-po5-610-dg-e0ser-007/  </div>
</div> <div class="border"></div>
 <div class="new_div"> <div class="article">ID: 536039</div>
    <div class="price">Цена: 199681 </div>
        <img  class="image" src="https://cdn.kns.ru/linkpics/acer-predator-g6-710-dg-b1mer-010-0.jpg">
  <div class="name">Наименование: Компьютер Acer Predator G6-710 DG.B1MER.010</div>
   <div class="description"> Описание: </div>
  <div class="charact">Характеристики: Модель CPU Intel Core i7 6700K Тактовая частота CPU 4.0 Ггц Количество ядер процессора 4 ядра Объём 16384 Мб Объем диска HDD 3000 Гб Объем диска SSD 128 Гб Графический чипсет NVidia GeForce GTX980Ti Объем видеопамяти 6144 Мб Операционная система Microsoft Windows 10 Home</div>
   <div class="url">URL: https://www.kns.ru/product/kompyuter-acer-predator-g6-710-dg-b1mer-010/  </div>
</div> <div class="border"></div>
</div>
<div class="border"></div>
          </form>
          </body></html>