{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


            <title>Computer Parts Finder</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">


            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          <script>
function Checkfirst(obj)
{
if (obj == 'true') { document.all.selectsub.disabled = true}
else { document.all.selectsub.disabled = false};
}
function Checksecond(obj)
{
if (obj == 'true') { document.all.btn.disabled = true}
else { document.all.btn.disabled = false};
}
</script>


      <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" />
          </head>

          <body>

    <form method="POST" action="create_products/" name = "f1">

            <div id="e1_2">
                 {% csrf_token %}
                <span id="e1_7">Computer Parts Finder</span>
                <span id="e1_8">source URLs: www.kns.ru, www.xpert.ru, computermarket.ru</span>
                <span id="e1_9"> Вы выбрали категорию {{ selectmain }} </span>
 <option>25898</option>
 <option>25901</option>
 <option>25903</option>
 <option>25904</option>
 <option>25906</option>
 <option>25909</option>
 <option>25912</option>
 <option>25914</option>
 <option>25916</option>
 <option>25919</option>
 <option>25922</option>
 <option>25925</option>
 <option>25927</option>
 <option>25930</option>
 <option>25932</option>
 <option>25935</option>
 <option>25937</option>
 <option>25940</option>
 <option>25943</option>
 <option>25945</option>
 <option>25950</option>
 <option>25952</option>
 <option>25954</option>
 <option>25956</option>
 <option>25957</option>
 <option>25959</option>
 <option>25960</option>
 <option>25961</option>
 <option>25962</option>
 <option>25963</option>
 <option>25964</option>
 <option>25966</option>
 <option>25968</option>
 <option>25970</option>
 <option>25972</option>
 <option>25974</option>
 <option>25977</option>
 <option>25979</option>
 <option>25981</option>
 <option>25984</option>
 <option>25988</option>
 <option>25990</option>
 <option>25993</option>
 <option>25995</option>
 <option>25997</option>
 <option>25999</option>
 <option>26001</option>
 <option>26003</option>
 <option>26005</option>
 <option>26008</option>
 <option>26010</option>
 <option>26012</option>
 <option>26015</option>
 <option>26017</option>
 <option>26019</option>
 <option>26020</option>
 <option>26022</option>
 <option>26024</option>
 <option>26026</option>
 <option>26028</option>
 <option>26032</option>
 <option>26035</option>
 <option>26037</option>
 <option>26039</option>
 <option>26042</option>
 <option>26044</option>
 <option>26046</option>
 <option>26049</option>
 <option>26051</option>
 <option>26053</option>
 <option>26055</option>
 <option>26057</option>
 <option>26059</option>
 <option>26062</option>
 <option>26064</option>
 <option>26066</option>
 <option>26068</option>
 <option>26070</option>
 <option>26072</option>
 <option>26074</option>
 <option>26077</option>
 <option>26086</option>
 <option>26079</option>
 <option>26082</option>
 <option>26084</option>
 <option>26089</option>
 <option>26091</option>
 <option>26093</option>
 <option>26094</option>
 <option>26095</option>
 <option>26097</option>
 <option>26099</option>
 <option>26101</option>
 <option>26103</option>
 <option>26105</option>
 <option>26107</option>
 <option>26109</option>
 <option>26111</option>
 <option>26113</option>
 <option>26115</option>
 <option>26119</option>
 <option>26121</option>
 <option>26122</option>
 <option>26124</option>
 <option>26126</option>
 <option>26128</option>
 <option>26130</option>
 <option>26132</option>
 <option>26153</option>
 <option>26135</option>
 <option>26137</option>
 <option>26139</option>
 <option>26140</option>
 <option>26141</option>
 <option>26143</option>
 <option>26145</option>
 <option>26146</option>
 <option>26149</option>
 <option>26151</option>
 <option>26156</option>
 <option>26159</option>
 <option>26162</option>
 <option>26164</option>
 <option>26166</option>
 <option>26168</option>
 <option>26170</option>
 <option>26172</option>
 <option>26174</option>
 <option>26176</option>
 <option>26178</option>
 <option>26179</option>
 <option>26181</option>
 <option>26183</option>
 <option>26185</option>
 <option>26187</option>
 <option>26189</option>
 <option>26191</option>
 <option>26193</option>
 <option>26195</option>
 <option>26197</option>
 <option>26201</option>
 <option>26202</option>
 <option>26203</option>
 <option>26204</option>
 <option>26205</option>
 <option>26206</option>
 <option>26209</option>
 <option>26210</option>
 <option>26213</option>
 <option>26215</option>
 <option>26217</option>
 <option>26218</option>
 <option>26221</option>
 <option>26222</option>
 <option>26223</option>
 <option>26243</option>
 <option>26224</option>
 <option>26225</option>
 <option>26226</option>
 <option>26228</option>
 <option>26230</option>
 <option>26234</option>
 <option>26236</option>
 <option>26238</option>
 <option>26240</option>
 <option>26245</option>
 <option>26246</option>
 <option>26248</option>
 <option>26250</option>
 <option>26252</option>
 <option>26254</option>
 <option>26256</option>
 <option>26258</option>
 <option>26259</option>
 <option>26261</option>
 <option>26263</option>
 <option>26265</option>
 <option>26267</option>
 <option>26269</option>
 <option>26271</option>
 <option>26279</option>
 <option>26273</option>
 <option>26274</option>
 <option>26275</option>
 <option>26277</option>
 <option>26282</option>
 <option>26283</option>
 <option>26286</option>
 <option>26288</option>
 <option>26290</option>
 <option>26293</option>
 <option>26295</option>
 <option>26297</option>
 <option>26299</option>
 <option>26301</option>
 <option>26309</option>
 <option>26302</option>
 <option>26304</option>
 <option>26306</option>
 <option>26307</option>
 </select>

               
                <button id="e2_5" name="btn">Перейти к выбору подкатегории</button>
                <span id="e2_8">For ТРКПО5</span>
                <div id="e18_5"></div>
                <div id="e18_4"></div>
            </div>
