#e1_2 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:900px;
	position:absolute;
}#e1_7 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1140px;
	height:34.27734375px;
	position:absolute;
	left:390px;
	top:73.828125px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e1_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:803px;
	height:16.69921875px;
	position:absolute;
	left:773px;
	top:119.53125px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_6 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:758px;
	height:12.3046875px;
	position:absolute;
	left:581px;
	top:209.1796875px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e17_2 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:758px;
	height:24.609375px;
	position:absolute;
	left:581px;
	top:245.21484375px;
}#e2_2 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:758px;
	height:12.3046875px;
	position:absolute;
	left:581px;
	top:294.43359375px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e2_3 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:758px;
	height:24.609375px;
	position:absolute;
	left:581px;
	top:318.1640625px;
}#e2_4 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:648px;
	height:31.640625px;
	position:absolute;
	left:636px;
	top:382.32421875px;
}#e2_5 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:648px;
	height:25.48828125px;
	position:absolute;
	left:636px;
	top:388.4765625px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e2_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:787px;
	height:20.21484375px;
	position:absolute;
	left:1110px;
	top:816.50390625px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e18_5 { 
	transform: rotate(-0.11729191156296526deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:1919.9970703125px;
	height:0px;
	position:absolute;
	left:0px;
	top:791.015625px;
}#e18_4 { 
	transform: rotate(-0.1172923651292873deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:1919.9970703125px;
	height:0px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:148.095703125px;
}